<nav>
  <div class="small-12 columns">
    <div class="top_image">
      <img src="/images/background-1.jpg">
    </div>
    <div class="row labelrow">
      <div class="columns">
        <div class="callout secondary">
          <div class="text-center">
            <h2>CAMPUS</h2>
            <hr>
            <p>
              We streamline time, cost, and the job hunting process for you. Getting you a programming career in the most efficient and reliable way possible.
            </p>
            <a href="#" class="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav>
  <div class="middle-section">
    <div class="small-11 columns">
      <div class="row labelrow2">
        <div class="text-center" id="swing-left">
          <h2 id="middle-header">Online</h2>
          <hr>
          <p style="color: #777777;">
            Become a developer at your own pace. Get unblock with help from our staff to get back to learning.
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="small-10 columns">
  <div class="middle_image">
    <img id="comp-image" src="/images/laptop.png">
  </div>
  <div class="text-center">
    <div class="enlarge-borders">
      <a href="#" class="red-button" id="smallest-button">Learn More</a>
    </div>
  </div>
</div>
<nav>
  <div class="small-12 columns">
    <div class="bottom_image">
      <img src="/images/background-2.jpg">
    </div>
    <div class="row labelrow">
      <div class="columns">
        <div id="last-callout" class="callout secondary">
          <div class="text-center">
            <h2>Hire a Developer</h2>
            <hr>
            <p>
              Hire with Launch Academy and meet emerging Developers at an upcoming Career Day!
            </p>
            <a href="#" class="button">Join Career Day</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="name">
  <h2 id="last-header">Hiring Partners</h2>
  <hr>
  <p>
    We work with the very best. We are proud of our partners, who work with us to deliver the best training
  </p>
</div>

<div class="very-last-section">
  <div class="small-12 medium-3 columns" id="tabs">
    <div class="callout secondary">
      <img id="corp-image" src="/images/hubspot.png">
      <p>
        When we reload the page, we can see that this looks pretty good, except for one thing - the callout box is stretching all the way across the content area of our page...
      </p>
      <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 columns" id="tabs">
    <div class="callout secondary">
      <img id="corp-image" src="/images/fidelity.png">
      <p>
        When we reload the page, we can see that this looks pretty good, except for one thing - the callout box is stretching all the way across the content area of our page...
      </p>
      <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 columns" id="tabs">
    <div class="callout secondary">
      <img id="corp-image" src="/images/npr.png">
      <p>
        When we reload the page, we can see that this looks pretty good, except for one thing - the callout box is stretching all the way across the content area of our page...
      </p>
      <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 columns" id="tabs">
    <div class="callout secondary">
      <img id="corp-image" src="/images/datto.png">
      <p>
        When we reload the page, we can see that this looks pretty good, except for one thing - the callout box is stretching all the way across the content area of our page...
      </p>
      <div class="text-center">
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
  </div>
</div>
<div class="text-center" style="background-color: #E5F3F4;">
  <h2 id="contact-info">Contact Us</h2>
  <hr>
  <p>
  </p>
    If you have any questions or just want to say "Hi", drop us a message!
  <p>
    We'd love to hear from you.
  </p>
  <form class="form">
    <div class="row">
      <div class="medium-6 columns">
        <label>
          <input type="text" placeholder="First Name" />
        </label>
      </div>
      <div class="medium-6 columns">
        <label>
          <input type="text" placeholder="Last Name" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>
          <input type="text" placeholder="E-mail" />
        </label>
      </div>
      <div class="medium-6 columns">
        <label>
          <input type="text" placeholder="Phone Number" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>
          <input type="text" placeholder="What's on your mind?" />
        </label>
      </div>
    </div>
    <div class="submit-button">
      <a href="#" class="button">Submit</a>
    </div>
  </form>
</div>
