<div class="small-12 medium-12 large-12 columns">
  <div class="top_image">
    <img src="/images/background-1.jpg">
  </div>
  <div class="row labelrow">
    <div class="text-center">
      <div class="columns">
        <div class="callout secondary">
          <h2>CAMPUS</h2>
          <hr>
          <p>
            We streamline time, cost, and the job hunting process for you. Getting you a programming career in the most efficient and reliable way possible.
          </p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="small-12 columns">
  <div class="middle_image">
    <img src="/images/laptop.png">
  </div>
  <div class="row labelrow2">
    <div class="text-center">
      <div class="columns">
        <div class="callout secondary">
          <h2>Online</h2>
          <hr>
          <p>
            Become a developer at your own pace. Get unblock with help from our staff to get back to learning.
          </p>
          <a href="#" class="red-button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
